html, body {
	background-color:#6495ed;
	height: 100%;
	margin: 0;
	opacity:1; 
	overflow:hidden;
	font-family:helvetica, sans;
}

#browserAlert{
	background-color: yellow;
	opacity:1;
	height: 100%;
    width: 100%;
	font-family:helvetica, sans;
	padding: 3px;
	padding-left: 20px;
}

#windowContainer{
	/*background-color:blue;
	position:absolute;
	width: 1000px;
	height: 1000px;
	*/
}

#contentWrapper{
	display: table;
    height: 100%;
    width: 100%;
}
#header{
	display: table-row;
	background-color: white;
	opacity:1;
}
.headerRight{
	right: 5px;
	top: 2px;
	position:absolute;
	vertical-align:middle;
	font-weight:bold;
	color:SteelBlue;
	cursor:pointer;
}


#background{
	display: table-row;
	width:100%;
	height:100%;
	/*background-color: red;*/
}
#backgroundFill{
	width:100%;
	height:100%;
}


#footer{
	display: table-row;
}


#searchForm{
	float: left;
}


.windowStyle { 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	z-index:20; 
	position:absolute; 
	/*position:relative;*/
	color:black;
	font-family:helvetica, sans;
	text-align:center;
	background-color:white;
	opacity:0.85;
	border:0.4em dotted white; 
	border-radius:8px;
	padding:0.1em; 
}
.window_zoom1 { 
	width:18em; 
	min-height:1em; 
	font-size:0.9em;
}
.window_zoom2 { 
	width:16em; 
	min-height:1em; 
	font-size:0.7em;
}
.window_zoom3 { 
	width:14em; 
	min-height:1em; 
	font-size:0.6em;
}
.window_zoom4 { 
	width:10em; 
	min-height:1em; 
	font-size:0.55em;
}

.img_zoom1{
	max-width:18em;
	max-height:18em;
}
.img_zoom2{
	max-width:16em;
	max-height:16em;
}
.img_zoom3{
	max-width:14em;
	max-height:14em;
}
.img_zoom4{
	max-width:10em;
	max-height:10em;
}




.window:hover {
	opacity:0.99;
	border-style:solid;
	border-color:orange;
	z-index:2000;
	cursor:pointer;
	
}
.windowStyle h1{
	color:SteelBlue;
	margin: 0px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.windowStyle h2{
	text-align:left;
	font-size:0.9em;
	margin: 0px;
	background-color:SteelBlue;
	color:white;
	border-radius:5px;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:white;
}
.windowStyle p{
	text-align:left;
	margin: 2px;
	font-size:0.9em;
	cursor:text;

}

lnk{
	color:SteelBlue;
	cursor:pointer;
	text-decoration:underline;
}
a{
	color:SteelBlue;
	cursor:pointer;
	text-decoration:underline;
}


.scrollBarY {
	max-height: 100px;
	overflow-y: auto;
}
.scrollBarYAbout{
	max-height: 200px;
	overflow-y: auto;
}
/*only for webkit browsers (Chrome,Safari)*/
.scrollBarY::-webkit-scrollbar {
    width: 6px;
	height: 5px;
}
.scrollBarY::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.scrollBarY::-webkit-scrollbar-thumb {
	background:SteelBlue;
	opacity:0.5; 
	border-radius:2px;
}

.cSummary{
	display:none;
}
.cLinks{
	display:none;
}
.cMetaData{
	display:none;
}
.cButton{
	width:100%;
	left: 0;
	margin:0px;
	display:none;
	position:absolute;
	opacity:0.75; 
	background-color:white;
	border-radius:4px;
}
.cButton:hover{
	/*display:inline
	*/
}

.cButtonClose{
	float:right;
	width:10px;
	height:10px;
	margin-right:5px;
}

.buttonWindow{
	max-width:15px;
	max-height:15px;
	margin-left:3px;
	border-radius:0px;
}

.buttonHeader{
	cursor:pointer;
	max-width:23px;
	max-height:23px;
	margin-left:5px;
	border-radius:0px;
	padding-top:2px;
}

.spacer{
	margin-left:15px;
}

.linkHoverStart{
	color:yellow;
	border:red;
}

.linkHoverStop{
	strokeStyle:gray;
	fillStyle:gray;
}

.debugId{
	display:none;
	/*display:block;*/
}

.display3{
	display:none;
}

img{
	border-radius:4px;

}
table {
    border-collapse: collapse;
}

#window1 { left:35em;top:1em;}
#window5 { left:65em;top:1em;}
#window6 { left:70em;top:26em;}


/* ---- About Window Classes -------------- */

.windowAbout{
	left:5em;
	top:5em;
	display:none;
	z-index:3000;
	opacity:1;
	width:25em;
}



/* search form 
http://www.awcore.com/url/aHR0cDovL3d3dy53ZWJkZXNpZ25lcndhbGwuY29tL3R1dG9yaWFscy9iZWF1dGlmdWwtY3NzMy1zZWFyY2gtZm9ybS8=
-------------------------------------- */
.searchform {
	padding: 0px;
	padding-top: 2px;
}

.searchfield {
	background: #fff;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 2px;
	width: 150px;
	border: solid 1px #bcbbbb;
	outline: none;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 10px;
	margin-left: 0px;
	margin-right: 4px;
	padding: 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
.dropDown{
	float: left;
	width: auto;
	min-width: 100px;
	-webkit-appearance: none;
	background: white;
}
.searchfieldText{
	height: 18px;
}