html, body {
	background-color:#6495ed;
	height: 100%;
	margin: 0;
	opacity:1; 
	overflow:hidden;
}

#browserAlert{
	background-color: yellow;
	opacity:1;
	height: 100%;
    width: 100%;
	font-family:helvetica, sans;
	padding: 3px;
	padding-left: 20px;
}

#windowContainer{
	/*background-color:blue;
	position:absolute;
	width: 1000px;
	height: 1000px;
	*/
}

#contentWrapper{
	display: table;
    height: 100%;
    width: 100%;
}
#header{
	display: table-row;
	background-color: white;
	opacity:0.5;
}


#background{
	display: table-row;
	width:100%;
	height:100%;
	/*background-color: red;*/
}
#backgroundFill{
	width:100%;
	height:100%;
}


#footer{
	display: table-row;
}


#searchForm{
	float: left;
}
.dropDown{
	float: left;
}

.window { 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	z-index:20; 
	position:absolute; 
	/*position:relative;*/
	color:black;
	font-family:helvetica, sans;
	text-align:center;
	background-color:white;
	opacity:0.85;
	border:0.4em dotted white; 
	border-radius:8px;
	padding:0.1em; 
}
.window_zoom1 { 
	width:18em; 
	min-height:1em; 
	font-size:0.9em;
}
.window_zoom2 { 
	width:16em; 
	min-height:1em; 
	font-size:0.7em;
}
.window_zoom3 { 
	width:14em; 
	min-height:1em; 
	font-size:0.6em;
}
.window_zoom4 { 
	width:10em; 
	min-height:1em; 
	font-size:0.55em;
}

.img_zoom1{
	max-width:18em;
	max-height:18em;
}
.img_zoom2{
	max-width:16em;
	max-height:16em;
}
.img_zoom3{
	max-width:14em;
	max-height:14em;
}
.img_zoom4{
	max-width:10em;
	max-height:10em;
}




.window:hover {
	opacity:0.99;
	border-style:solid;
	border-color:orange;
	z-index:2000;
	cursor:pointer;
	
}
.window h1{
	color:SteelBlue;
	margin: 0px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.window h2{
	text-align:left;
	font-size:0.9em;
	margin: 0px;
	background-color:SteelBlue;
	color:white;
	border-radius:5px;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:white;
}
.window p{
	text-align:left;
	margin: 2px;
	font-size:0.9em;
	cursor:text;

}

.window lnk{
	color:SteelBlue;
	cursor:pointer;
	text-decoration:underline;
}



.scrollBarY {
	max-height: 100px;
	overflow-y: auto;
}
/*only for webkit browsers (Chrome,Safari)*/
.scrollBarY::-webkit-scrollbar {
    width: 6px;
	height: 5px;
}
.scrollBarY::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.scrollBarY::-webkit-scrollbar-thumb {
	background:SteelBlue;
	opacity:0.5; 
	border-radius:2px;
}

.cSummary{
	display:none;
}
.cLinks{
	display:none;
}
.cMetaData{
	display:none;
}
.cButton{
	width:100%;
	left: 0;
	margin:0px;
	display:none;
	position:absolute;
	opacity:0.75; 
	background-color:white;
	border-radius:4px;
}
.cButton:hover{
	/*display:inline
	*/
}

.cButtonClose{
	float:right;
	width:10px;
	height:10px;
	margin-right:5px;
}

.buttonWindow{
	max-width:15px;
	max-height:15px;
	margin-left:3px;
	border-radius:0px;
}

.buttonHeader{
	cursor:pointer;
	max-width:25px;
	max-height:25px;
	margin-left:5px;
	border-radius:0px;
}

.spacer{
	margin-left:15px;
}

.linkHoverStart{
	color:yellow;
	border:red;
}

.linkHoverStop{
	strokeStyle:gray;
	fillStyle:gray;
}

.debugId{
	display:none;
	/*display:block;*/
}

img{
	border-radius:4px;

}
table {
    border-collapse: collapse;
}

#window1 { left:35em;top:1em;}
#window5 { left:65em;top:1em;}
#window6 { left:70em;top:26em;}


